name: Build and deploy Spring Boot to Azure App Service

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout code from master branch
      - name: Checkout code
        uses: actions/checkout@v4

      # Setup Java
      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      # Build Spring Boot JAR
      - name: Build with Maven
        run: mvn clean package -DskipTests

      # Upload JAR artifact for deploy job
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: springboot-app
          path: target/*.jar

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      # Download artifact created in build job
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: springboot-app

      # Login to Azure using secrets created by App Service
      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_C59B7CE76C87467E8E30F073D6A4E705 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_B39DDF3122B3409EA9929EFD4D5954E2 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_3BF8389CD3574BFFB7A9E75D77ED6903 }}

      # Deploy JAR to Azure App Service
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: springboot
          slot-name: Production
          package: '*.jar'
