deploy:
  runs-on: ubuntu-latest
  needs: build

  permissions:
    id-token: write
    contents: read

  steps:
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: springboot-app

    - name: Azure Login
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_C59B7CE76C87467E8E30F073D6A4E705 }}
        tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_B39DDF3122B3409EA9929EFD4D5954E2 }}
        subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_3BF8389CD3574BFFB7A9E75D77ED6903 }}

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v3
      with:
        app-name: springboot
        slot-name: Production
        package: '*.jar'
